.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
}

.login-box {
    background-color: #b4d0f2;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.password-container-login {
    position: relative;
}

.password-container-login input {
    padding-right: 11px; /* Ensure padding for eye icon */
}

.password-container-login .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.login-box button {
    width: 50%;
    margin-left:5%;
    padding: 10px;
    background-color: #2575fc;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-box button:hover {
    background-color: #334ff0;
}
